{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"><!--<![endif]--><head class="no-js">
	<title>Home  |   macro project</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="{% static "images/favicon.ico" %}">
	<link rel="stylesheet" id="screen-css" href="{% static "macro/style.css" %}?ver=2.0" type="text/css" media="all">
	<link rel="stylesheet" type="text/css" href="{% static "macro/update.css" %}">
	<script type="text/javascript" src="{% static "macro/jquery.js"%}?ver=1.11.3"></script>
	<script type="text/javascript" src="{% static "macro/jquery-migrate.min.js"%}?ver=1.2.1"></script>
</head>
<body>
<!--[if lt IE 8]>
  <p class="browsehappy">It looks like you're using an insecure version of Internet Explorer. Using an outdated browser makes your computer unsafe. On Windows XP, you are unable to update to the latest version. For the best experience on the web, we suggest you <a href="http://browsehappy.com">try a new browser</a>.</p>
<![endif]-->
	<div class="container">
		<header class="header">
			<div class="logo">
			    <a href="/">
			    	<img src="{% static "images/logo1.png" %}" border="0" onmouseover="this.src='{% static "images/logo2.png" %}'" onmouseout="this.src='{% static "images/logo1.png" %}'">
			    </a>
			</div>
		</header>
		<nav class="nav">
			<div id="navi">
		    	<div class="menu-mainnav-container">
		    		<ul id="menu-mainnav" class="menu">
		    			<li id="menu-item" class="menu-item"><a href="/">Home</a></li>
						<li id="menu-item" class="current-menu-item"><a href="/about">About</a></li>
						<li id="menu-item" class="menu-item"><a href="/contribute">Contribute</a></li>
						<li id="menu-item" class="menu-item"><a href="/examples">Examples</a></li>
						<li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55"><a href="https://www.libreoffice.org/" target="_blank">LibreOffice</a></li>
						<li id="menu-item" class="menu-item"><a href="/contact">Contact</a></li>
					</ul>
				</div><div class="clr"></div>
		    </div>
		</nav>
		<br>
		<nav class="nav">
				<div id="navi">
		    		<center>~ Macro conversion project from Excel macro to LibreOffice macro ~</center><div class="clr"></div>
		    	</div>
		</nav>
		<div class="clear"></div>
		<div class="homepage">
			<div class="secpages">
    			<div class="secpageleft">
    				<div class="secnav">
						<h2>About</h2>
						<ul class="subnav">
				        	<li class="page_item"><b>Macro Converter</b>
								<ul class="children">
									<li class="page_item"><a href="/about">Overview</a></li>
									<li class="page_item"><a href="/benefits">Benefits</a></li>
									<li class="current_page_parent"><a href="/progress">►Progress</a></li>
									<li class="page_item"><a href="/used-technologies">Used Technologies</a></li>
									<li class="page_item"><a href="/license">License</a></li>
								</ul>
							</li>
				    	</ul>
    				</div>
    			</div>
    		<div class="secpageright">
    			<div class="seccontent">
					<h1>Progress</h1>
					<changelists>
						<changelist>
							<version>002</version>
							<information>
							May 20 2018
							</information>
							<ul>
								<li><div class="subtitle">Change list</div></li>
								<li><changetype class="is-f">fixed</changetype><p> Fixed Unexpected Python Error</p></li>
							</ul>
						</changelist>
						<changelist>
							<version>001</version>
							<information>
							May 18 2018
							</information>
							<ul>
								<li><div class="subtitle">Change list</div></li>
								<li><changetype class="is-a">new</changetype><p> Added Range Method</p></li>
								<li><changetype class="is-a">new</changetype><p> Added Selection.Value</p></li>
								<li><changetype class="is-a">new</changetype><p> Added Cells Method</p></li>
								<li><changetype class="is-a">new</changetype><p> Added FormulaR1C1</p></li>
								<li><changetype class="is-a">new</changetype><p> Added ActiveSheet</p></li>
								<li><changetype class="is-a">new</changetype><p> Added Formula</p></li>
								<li><changetype class="is-a">new</changetype><p> Added ActiveWorkbook</p></li>
								<li><changetype class="is-a">new</changetype><p> Added ActiveCell</p></li>
								<li><changetype class="is-a">new</changetype><p> Added Application.ScreenUpdating</p></li>
								<li><changetype class="is-a">new</changetype><p> Added vbMsgBoxStyle Arguments</p></li>
								<li><changetype class="is-a">new</changetype><p> Added MsgBox Return Values</p></li>
							</ul>
						</changelist>
					</changelists>
				</div>
			<div class="clr">&nbsp;</div>
    		</div>
		</div>
		<footer class="clear">
			<div class="footerarea">
				<div class="footerlogos">
					<table>
						<tr>
							<td>
								<br>
								<div align="left"><img src="{% static "images/sub1.png" %}"></div>
							</td>
							<td>
								<div align="right"><img src="{% static "images/sub2.png" %}"><br><br></div>
							</td>
						</tr>
					</table>
				</div>
			Copyright © 2018 Macro Converter
			</div>
		</footer>
	</div>
</body>
</html>